<!DOCTYPE html>

<style>
    body {
        color: white;
        font-family:sans-serif;
    }

    #container {
        margin: 0 -10px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.5);
        font-family:sans-serif;
    }

    h1 {
        font-size: 1em;
        font-family:sans-serif;
    }

    #header {
        text-align: center;
        font-family:sans-serif;
    }

    a {
        color: white;
        font-family:sans-serif;
    }
</style>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1><strong>ACKNOWLEDGEMENTS</strong></h1>
        </div>
        <p>The Colorado Wetlands mobile application was funded by a U.S. Environmental Protection Agency, Region 8, Wetland Program Development Grant with oversight from Toney Ott and Cynthia Gonzales. Rebecca Pierce, Wetland Program Manager for Colorado Department of Transportation, and Colorado State University provided matching funds. Content was developed through a series of pervious grants funded by EPA Region 8, Colorado Parks and Wildlife, Colorado Native Plant Society, and Colorado Riparian Association.</p>
        <p>App content is based on:</p>
        <ul>
            <li>
                <em><b>Field Guide to Colorado's Wetland Plants: Identification, Ecology and Conservation</b></em> by Denise Culver and Joanna Lemly. 2013. Colorado Natural Heritage Program.
            </li>
            <li>
                <em><b>Common Wetland Plants of Colorado's Eastern Plains: A Pocket Guide</b></em> by Denise Culver. 2014. Colorado Natural Heritage Program.
            </li>
            <li>
                <em><b>National Wetland Inventory</b></em> maps for Colorado developed in partnership with the U.S. Fish and Wildlife Service.
            </li>
        </ul>
        <p>App development by Kirstin Holfelder, Colorado Natural Heritage Program. Expert technical assistance provided by Gordon Holfelder. App revisions (2.0) completed by Colorado State University's Research Software Facility.</p>
        <p>CNHP is a non-profit organization and a research unit within the Warner College of Natural Resources at Colorado State University. CNHP is a member of the NatureServe Network, an international network of natural heritage programs that monitor the status of species and natural communities from state, national, and global perspectives. The mission of CNHP is:</p>
        <p style="padding-left:10px;"><em>"To preserve the natural diversity of life by contributing the essential scientific foundation that leads to lasting conservation of Colorado’s biological wealth."</em></p>
        <p>CNHP’s webpage: <a href="http://www.cnhp.colostate.edu">http://www.cnhp.colostate.edu</a></p>
        <div style="background-color: white; padding: 10px;">
            <img src="EPA1.png" width="90" />
            <img src="CNHP.png" width="90" />
            <img src="CSU1.png" width="90" />
            <img src="CDOT.png" width="90" />
            <img src="CPW.png" width="90" />
            <img src="CoNPS.png" width="90" />
            <img src="CRA.png" width="90" />
            <img src="USFWS.png" width="90" />
            <img src="NatureServe.png" width="90" />
        </div>
    </div>
</body>
</html>