<!DOCTYPE html>

<style>
    body { color: white; } 
    #container { margin: 0 -10px; padding: 20px; background-color: rgba(0, 0, 0, 0.5); font-family:sans-serif; }
    h1 { font-size: 1em; font-family:sans-serif;}
    #header { text-align: center; font-family:sans-serif;}
</style>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="container">
      
        <h1><strong>HELP USING WETLAND MAPS</strong></h1>
        </div>
        <p>The Wetland Maps Section allows users to interactively explore up-to-date digital National Wetland Inventory (NWI) mapping for Colorado. When you first enter the mapping screen, your device will center the mapping at your general location. You can zoom in or out using either your finger or the buttons on the top left portion of the screen. You can also move the view to any location in Colorado. To reset the view, simply click the refresh button. At the bottom of the screen, the Key button will bring up a key to the NWI codes used for labeling polygons. The Legend button will bring up a color coded legend to the mapping’s color scheme.</p>
        <p>One of the best features of the Wetland Mapping section is the Plant button. Clicking this button will bring up a list of wetland plants potentially found in your general location, as determined by county and current elevation +/- 500 feet. The list is filtered based on your GPS location, not the extent of your view, so remember that if you move the view away from your current location. The filtered plant list allows users to become familiar with common wetland plants found in their neighborhood or when out hiking!</p>

        <div class="section_header">BACKGROUND ON NWI MAPPING</div>
        <p>The National Wetland Inventory (NWI) has been producing wetland maps and geospatial wetland data for the United States since the mid-1970s. NWI is headed by the U.S. Fish and Wildlife Service and relies on contributions from many collaborators to produce high quality wetland mapping from the nation. Colorado Natural Heritage Program (CNHP) and Colorado Parks and Wildlife (CPW) have worked closely with NWI since 2008 to create a complete digital map of wetlands for Colorado. Much of the mapping displayed in this app was originally created in the 1970s and 1980s as paper maps based on coarse air photography and only recently converted to digital data by CNHP and CPW. However, CNHP has created updated mapping in many areas of the state, included the northern Front Range and Park County.</p>
        <p>For more information, please see:</p>
        <ul>
            <li>NWI home page: <a href="http://www.fws.gov/wetlands/index.html">http://www.fws.gov/wetlands/index.html</a></li>
            <li>CNHP’s webpage on mapping: <a href="http://www.cnhp.colostate.edu/cwic/location.asp">http://www.cnhp.colostate.edu/cwic/location.asp</a></li>
        </ul>
</body>
</html>