<!DOCTYPE html>

<style>
    body { color: white; } 
    #container { margin: 10px; padding: 20px; background-color: rgba(0, 0, 0, 0.5); border-radius: 5px; }
    h1 { font-size: 1em; }
    #header { text-align: center; }
</style>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="container">
        <div id="header">
            <h1><strong>INTRODUCTION TO THE APP</strong></h1>
        </div>
        <p>The Colorado Wetlands Mobile App delivers information about Colorado wetlands right to your smartphone or tablet. The app includes two main sections:</p>
        <ul>
            <li>
                <strong>Wetland Plants:</strong>
                Detailed descriptions and photos of 710 plant species found in Colorado’s wetlands and riparian areas. Tap Wetland Plants from the Home Screen to search and explore the species descriptions.
            </li>
            <li>
                <strong>Wetland Maps:</strong>
                Access to digital National Wetland Inventory maps for Colorado. Tap Wetland Maps from the Home Screen for an interactive mapping tool to explore wetlands mapped in your area. The Wetland Maps screen can also be used to search wetland plants potentially found at your location.
            </li>
            <li>
                <strong>Wetland Types:</strong> ' +
                Short descriptions of the major wetland and riparian types in Colorado. The wetland types described in this app are based on NatureServe Ecological Systems, and are modified for Colorado.
            </li>
        </ul>
        <p><strong>What are Wetlands?</strong></p>
        <p>For regulation under the Clean Water Act, the <b>Army Corps of Engineers</b> and <b>Environmental Protection Agency</b> define wetlands based on <em>three</em> criteria: (1) <em>wetland plants, </em> which are adapted to growing in wet areas; (2) <em>wetland soils, </em> which have different properties than dryland soils; and (3) <em>wetland hydrology,</em> meaning the area is wet for at least a couple weeks each year. An area of land must have all three to be considered a wetland. Their official definition is:</p>
        <p style="padding-left:10px;"><em>"Those areas that are inundated or saturated by surface or groundwater at a frequency and duration sufficient to support, and that under normal circumstance do support, a prevalence of vegetation typically adapted for life in saturated soil conditions."</em></p>
        <p>For mapping and habitat management, the <b>U.S. Fish and Wildlife Service</b> define wetlands more broadly. An area can be considered a wetland if it has <em>either</em> wetland plants or undrained wetland soils. This definition recognizes that some areas provide many functions of wetlands without exhibiting all three characteristics required by the Clean Water Act criteria. Their official definition is:</p>
        <p style="padding-left:10px;"><em>"Lands transitional between terrestrial and aquatic systems where the water table is usually at or near the surface or the land is covered by shallow water."</em></p>
        <p><strong>Why are Wetlands Important?</strong></p>
        <p>Colorado is one of the most biologically diverse states in the Intermountain West, with nearly 3,600 plant and animal species. Wetland and riparian areas are transitional lands between terrestrial and aquatic habitats and are among the most diverse ecosystems in the state. Colorado’s wetlands range from alpine wet meadows high in the mountains to marshes on the plains. Though they cover only 2% of the landscape, wetlands and riparian areas are by far the most ecologically and economically significant ecosystem in Colorado.</p>
        <p>Wetlands provide many functions that are valued by society. These include groundwater recharge, nutrient cycling, primary production, carbon sequestration and export, sediment transport, and channel stabilization. One of the most important functions valued by society is the role of wetlands in providing clean water. Wetland vegetation acts as a filter or sponge for water and sediment that may contain heavy metals, pesticides or fertilizers. Wetland vegetation also provides a buffer for flood zones, especially along larger rivers that flow through Colorado’s cities and towns. In addition, wetlands play a key role in many of the recreational activities Colorado is best known for, including hunting, fishing, wildlife viewing and rafting.</p>
    </div>
</body>
</html>